.title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding: 2rem 0;
}

.container {
  display: flex;
  touch-action: none;
  width: 100%;
  max-width: 800px;
  margin: 1rem auto;
}

.dropzone {
  flex: 1;
  height: 600px;
}

.grid-item {
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .5s;
}

.grid-item-img {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  pointer-events: none;
  user-select: none;
  border-radius: 12px;
}


.grid-item-content {
  box-sizing: border-box;
  pointer-events: none;
  user-select: none;
  font-family: 'Arial';
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 4px;
}

@media (hover: hover) {
  .grid-item:hover {
    transform: scale(1.1);
  }
  
  .grid-item:hover .grid-item-img {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
